<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
	<div  th:fragment="header">
		<div class="row border-bottom">
			<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
				<div class="navbar-header">
					<a class="navbar-minimalize minimalize-styl-2" style="color:#FFF;" href="#" title="收起菜单">
						<i class="fa fa-bars"></i>
					</a>
				</div>
				<ul class="nav navbar-top-links navbar-right welcome-message">
					<li><a title="视频教程" href="http://doc.ruoyi.vip/ruoyi/document/spjc.html" target="_blank"><i class="fa fa-video-camera"></i> 视频教程</a></li>
					<li><a title="开发文档" href="http://doc.ruoyi.vip" target="_blank"><i class="fa fa-question-circle"></i> 开发文档</a></li>
					<li><a title="全屏显示" href="javascript:void(0)" id="fullScreen"><i class="fa fa-arrows-alt"></i> 全屏显示</a></li>
					<li class="dropdown user-menu">
						<a href="javascript:void(0)" class="dropdown-toggle" data-hover="dropdown">
							<img th:src="(${avatar} == '') ? @{/img/profile.jpg} : @{${avatar}}" th:onerror="this.src='img/profile.jpg'" class="user-image">
							<span class="hidden-xs">[[${#strings.defaultString(userName, '-')}]]</span>
						</a>
						<ul class="dropdown-menu">
							<li class="mt5">
								<a th:href="@{/system/user/profile}" class="menuItem">
									<i class="fa fa-user"></i> 个人中心</a>
							</li>
							<li>
								<a onclick="resetPwd()">
									<i class="fa fa-key"></i> 修改密码</a>
							</li>
							<li>
								<a onclick="switchSkin()">
									<i class="fa fa-dashboard"></i> 切换主题</a>
							</li>
							<li class="divider"></li>
							<li>
								<a th:href="@{logout}">
									<i class="fa fa-sign-out"></i> 退出登录</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
		<div class="row content-tabs">
			<button class="roll-nav roll-left tabLeft">
				<i class="fa fa-backward"></i>
			</button>
			<nav class="page-tabs menuTabs">
				<div class="page-tabs-content">
					<a href="javascript:;" class="active menuTab" data-id="/system/main">首页</a>
				</div>
			</nav>
			<button class="roll-nav roll-right tabRight">
				<i class="fa fa-forward"></i>
			</button>
			<a href="javascript:void(0);" class="roll-nav roll-right tabReload"><i class="fa fa-refresh"></i> 刷新</a>
		</div>

		<a id="ax_close_max" class="ax_close_max" href="#" title="关闭全屏"> <i class="fa fa-times-circle-o"></i> </a>
	</div>
</body>
</html>