<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xml.route.GatewayRoutePredicateMapper">


    <resultMap id="BaseResultMap" type="com.study.gateway.admin.entity.route.GatewayRoutePredicate">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="routeId" jdbcType="VARCHAR" property="routeId"/>
            <result column="predicateId" jdbcType="VARCHAR" property="predicateId"/>
            <result column="predicateName" jdbcType="VARCHAR" property="predicateName"/>
            <result column="predicatePriority" jdbcType="INTEGER" property="predicatePriority"/>
            <result column="isDelete" jdbcType="BIT" property="isDelete"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, routeId, predicateId, predicateName, predicatePriority, isDelete, createTime, updateTime
    </sql>

    <insert id="insert" parameterType="com.study.gateway.admin.entity.route.GatewayRoutePredicate">
        insert into  gateway_route_predicate
           (id, routeId, predicateId, predicateName, predicatePriority, isDelete, createTime, updateTime)
        values (
            #{id,jdbcType=BIGINT},
              #{updateTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP}
    </insert>


    <insert id="insertSelective" parameterType="com.study.gateway.admin.entity.route.GatewayRoutePredicate">
        insert into gateway_route_predicate
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="routeId != null">
                    routeId,
                </if>
                <if test="predicateId != null">
                    predicateId,
                </if>
                <if test="predicateName != null">
                    predicateName,
                </if>
                <if test="predicatePriority != null">
                    predicatePriority,
                </if>
                <if test="isDelete != null">
                    isDelete,
                </if>
                <if test="createTime != null">
                    createTime,
                </if>
                <if test="updateTime != null">
                    updateTime,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=BIGINT},
                </if>
                <if test="routeId != null">
                    #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="predicateId != null">
                    #{predicateId,jdbcType=VARCHAR},
                </if>
                <if test="predicateName != null">
                    #{predicateName,jdbcType=VARCHAR},
                </if>
                <if test="predicatePriority != null">
                    #{predicatePriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.study.gateway.admin.entity.route.GatewayRoutePredicate">

        update gateway_route_predicate
        set
            routeId =  #{routeId,jdbcType=VARCHAR}
            predicateId =  #{predicateId,jdbcType=VARCHAR}
            predicateName =  #{predicateName,jdbcType=VARCHAR}
            predicatePriority =  #{predicatePriority,jdbcType=INTEGER}
            isDelete =  #{isDelete,jdbcType=BIT}
            createTime =  #{createTime,jdbcType=TIMESTAMP}
            updateTime =  #{updateTime,jdbcType=TIMESTAMP},
        where
            id =  #{id,jdbcType=BIGINT}
    </update>



    <update id="updateByPrimaryKeySelective" parameterType="com.study.gateway.admin.entity.route.GatewayRoutePredicate">
        update  gateway_route_predicate
        <set>
                <if test="routeId != null">
                    routeId = #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="predicateId != null">
                    predicateId = #{predicateId,jdbcType=VARCHAR},
                </if>
                <if test="predicateName != null">
                    predicateName = #{predicateName,jdbcType=VARCHAR},
                </if>
                <if test="predicatePriority != null">
                    predicatePriority = #{predicatePriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    isDelete = #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    createTime = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    updateTime = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gateway_route_predicate
    where
            id =  #{id,jdbcType=BIGINT}
  </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_predicate
        where
            id =  #{id,jdbcType=BIGINT}
    </select>


    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_predicate
        <where>
           <if test="id != null">
            and    id =  #{id,jdbcType=BIGINT}
           </if>
           <if test="routeId != null">
            and    routeId =  #{routeId,jdbcType=VARCHAR}
           </if>
           <if test="predicateId != null">
            and    predicateId =  #{predicateId,jdbcType=VARCHAR}
           </if>
           <if test="predicateName != null">
            and    predicateName =  #{predicateName,jdbcType=VARCHAR}
           </if>
           <if test="predicatePriority != null">
            and    predicatePriority =  #{predicatePriority,jdbcType=INTEGER}
           </if>
           <if test="isDelete != null">
            and    isDelete =  #{isDelete,jdbcType=BIT}
           </if>
           <if test="createTime != null">
            and    createTime =  #{createTime,jdbcType=TIMESTAMP}
           </if>
           <if test="updateTime != null">
            and    updateTime =  #{updateTime,jdbcType=TIMESTAMP}
           </if>
        </where>
    </select>

    <update id="deleteByRoteId"  parameterType="java.lang.String">
        update  gateway_route_predicate  set   isDelete=true  where   routeId =  #{routeId,jdbcType=VARCHAR}

    </update>




</mapper>
