<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xml.route.GatewayRouteMapper">


    <resultMap id="BaseResultMap" type="com.study.gateway.admin.entity.route.GatewayRoute">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="routeId" jdbcType="VARCHAR" property="routeId"/>
            <result column="systemId" jdbcType="VARCHAR" property="systemId"/>
            <result column="systemName" jdbcType="VARCHAR" property="systemName"/>
            <result column="routeUri" jdbcType="VARCHAR" property="routeUri"/>
            <result column="routePriority" jdbcType="INTEGER" property="routePriority"/>
            <result column="isDelete" jdbcType="BIT" property="isDelete"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, routeId, systemId, systemName, routeUri, routePriority, isDelete, createTime, updateTime
    </sql>

    <insert id="insert" parameterType="com.study.gateway.admin.entity.route.GatewayRoute">
        insert into  gateway_route
           (id, routeId, systemId, systemName, routeUri, routePriority, isDelete, createTime, updateTime)
        values (
            #{id,jdbcType=BIGINT},
              #{updateTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP}
    </insert>


    <insert id="insertSelective" parameterType="com.study.gateway.admin.entity.route.GatewayRoute">
        insert into gateway_route
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="routeId != null">
                    routeId,
                </if>
                <if test="systemId != null">
                    systemId,
                </if>
                <if test="systemName != null">
                    systemName,
                </if>
                <if test="routeUri != null">
                    routeUri,
                </if>
                <if test="routePriority != null">
                    routePriority,
                </if>
                <if test="isDelete != null">
                    isDelete,
                </if>
                <if test="createTime != null">
                    createTime,
                </if>
                <if test="updateTime != null">
                    updateTime,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=BIGINT},
                </if>
                <if test="routeId != null">
                    #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="systemId != null">
                    #{systemId,jdbcType=VARCHAR},
                </if>
                <if test="systemName != null">
                    #{systemName,jdbcType=VARCHAR},
                </if>
                <if test="routeUri != null">
                    #{routeUri,jdbcType=VARCHAR},
                </if>
                <if test="routePriority != null">
                    #{routePriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.study.gateway.admin.entity.route.GatewayRoute">

        update gateway_route
        set
            routeId =  #{routeId,jdbcType=VARCHAR}
            systemId =  #{systemId,jdbcType=VARCHAR}
            systemName =  #{systemName,jdbcType=VARCHAR}
            routeUri =  #{routeUri,jdbcType=VARCHAR}
            routePriority =  #{routePriority,jdbcType=INTEGER}
            isDelete =  #{isDelete,jdbcType=BIT}
            createTime =  #{createTime,jdbcType=TIMESTAMP}
            updateTime =  #{updateTime,jdbcType=TIMESTAMP},
        where
            id =  #{id,jdbcType=BIGINT}
    </update>



    <update id="updateByPrimaryKeySelective" parameterType="com.study.gateway.admin.entity.route.GatewayRoute">
        update  gateway_route
        <set>
                <if test="routeId != null">
                    routeId = #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="systemId != null">
                    systemId = #{systemId,jdbcType=VARCHAR},
                </if>
                <if test="systemName != null">
                    systemName = #{systemName,jdbcType=VARCHAR},
                </if>
                <if test="routeUri != null">
                    routeUri = #{routeUri,jdbcType=VARCHAR},
                </if>
                <if test="routePriority != null">
                    routePriority = #{routePriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    isDelete = #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    createTime = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    updateTime = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gateway_route
    where
            id =  #{id,jdbcType=BIGINT}
  </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route
        where
            id =  #{id,jdbcType=BIGINT}
    </select>


    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route
        <where>
           <if test="id != null">
            and    id =  #{id,jdbcType=BIGINT}
           </if>
           <if test="routeId != null">
            and    routeId =  #{routeId,jdbcType=VARCHAR}
           </if>
           <if test="systemId != null">
            and    systemId =  #{systemId,jdbcType=VARCHAR}
           </if>
           <if test="systemName != null">
            and    systemName =  #{systemName,jdbcType=VARCHAR}
           </if>
           <if test="routeUri != null">
            and    routeUri =  #{routeUri,jdbcType=VARCHAR}
           </if>
           <if test="routePriority != null">
            and    routePriority =  #{routePriority,jdbcType=INTEGER}
           </if>
           <if test="isDelete != null">
            and    isDelete =  #{isDelete,jdbcType=BIT}
           </if>
           <if test="createTime != null">
            and    createTime =  #{createTime,jdbcType=TIMESTAMP}
           </if>
           <if test="updateTime != null">
            and    updateTime =  #{updateTime,jdbcType=TIMESTAMP}
           </if>
        </where>
    </select>






</mapper>
