<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xml.route.GatewayRouteFilterMapper">


    <resultMap id="BaseResultMap" type="com.study.gateway.admin.entity.route.GatewayRouteFilter">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="routeId" jdbcType="VARCHAR" property="routeId"/>
            <result column="filterId" jdbcType="VARCHAR" property="filterId"/>
            <result column="filterName" jdbcType="VARCHAR" property="filterName"/>
            <result column="filterPriority" jdbcType="INTEGER" property="filterPriority"/>
            <result column="isDelete" jdbcType="BIT" property="isDelete"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, routeId, filterId, filterName, filterPriority, isDelete, createTime, updateTime
    </sql>

    <insert id="insert" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilter">
        insert into  gateway_route_filter
           (id, routeId, filterId, filterName, filterPriority, isDelete, createTime, updateTime)
        values (
            #{id,jdbcType=BIGINT},
              #{updateTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP}
    </insert>


    <insert id="insertSelective" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilter">
        insert into gateway_route_filter
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="routeId != null">
                    routeId,
                </if>
                <if test="filterId != null">
                    filterId,
                </if>
                <if test="filterName != null">
                    filterName,
                </if>
                <if test="filterPriority != null">
                    filterPriority,
                </if>
                <if test="isDelete != null">
                    isDelete,
                </if>
                <if test="createTime != null">
                    createTime,
                </if>
                <if test="updateTime != null">
                    updateTime,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=BIGINT},
                </if>
                <if test="routeId != null">
                    #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="filterId != null">
                    #{filterId,jdbcType=VARCHAR},
                </if>
                <if test="filterName != null">
                    #{filterName,jdbcType=VARCHAR},
                </if>
                <if test="filterPriority != null">
                    #{filterPriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilter">

        update gateway_route_filter
        set
            routeId =  #{routeId,jdbcType=VARCHAR}
            filterId =  #{filterId,jdbcType=VARCHAR}
            filterName =  #{filterName,jdbcType=VARCHAR}
            filterPriority =  #{filterPriority,jdbcType=INTEGER}
            isDelete =  #{isDelete,jdbcType=BIT}
            createTime =  #{createTime,jdbcType=TIMESTAMP}
            updateTime =  #{updateTime,jdbcType=TIMESTAMP},
        where
            id =  #{id,jdbcType=BIGINT}
    </update>



    <update id="updateByPrimaryKeySelective" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilter">
        update  gateway_route_filter
        <set>
                <if test="routeId != null">
                    routeId = #{routeId,jdbcType=VARCHAR},
                </if>
                <if test="filterId != null">
                    filterId = #{filterId,jdbcType=VARCHAR},
                </if>
                <if test="filterName != null">
                    filterName = #{filterName,jdbcType=VARCHAR},
                </if>
                <if test="filterPriority != null">
                    filterPriority = #{filterPriority,jdbcType=INTEGER},
                </if>
                <if test="isDelete != null">
                    isDelete = #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    createTime = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    updateTime = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gateway_route_filter
    where
            id =  #{id,jdbcType=BIGINT}
  </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_filter
        where
            id =  #{id,jdbcType=BIGINT}
    </select>


    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_filter
        <where>
           <if test="id != null">
            and    id =  #{id,jdbcType=BIGINT}
           </if>
           <if test="routeId != null">
            and    routeId =  #{routeId,jdbcType=VARCHAR}
           </if>
           <if test="filterId != null">
            and    filterId =  #{filterId,jdbcType=VARCHAR}
           </if>
           <if test="filterName != null">
            and    filterName =  #{filterName,jdbcType=VARCHAR}
           </if>
           <if test="filterPriority != null">
            and    filterPriority =  #{filterPriority,jdbcType=INTEGER}
           </if>
           <if test="isDelete != null">
            and    isDelete =  #{isDelete,jdbcType=BIT}
           </if>
           <if test="createTime != null">
            and    createTime =  #{createTime,jdbcType=TIMESTAMP}
           </if>
           <if test="updateTime != null">
            and    updateTime =  #{updateTime,jdbcType=TIMESTAMP}
           </if>
        </where>
    </select>

    <update id="deleteByRoteId"    parameterType="java.lang.String"  >

         update   gateway_route_filter  set    isDelete =true    where    routeId =  #{routeId,jdbcType=VARCHAR}

    </update>




</mapper>
