<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xml.route.GatewayRouteFilterArgsMapper">


    <resultMap id="BaseResultMap" type="com.study.gateway.admin.entity.route.GatewayRouteFilterArgs">
            <id column="id" jdbcType="BIGINT" property="id"/>
            <result column="filterId" jdbcType="VARCHAR" property="filterId"/>
            <result column="filterArgsId" jdbcType="VARCHAR" property="filterArgsId"/>
            <result column="argsName" jdbcType="VARCHAR" property="argsName"/>
            <result column="argsValue" jdbcType="VARCHAR" property="argsValue"/>
            <result column="isDelete" jdbcType="BIT" property="isDelete"/>
            <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, filterId, filterArgsId, argsName, argsValue, isDelete, createTime, updateTime
    </sql>

    <insert id="insert" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilterArgs">
        insert into  gateway_route_filter_args
           (id, filterId, filterArgsId, argsName, argsValue, isDelete, createTime, updateTime)
        values (
            #{id,jdbcType=BIGINT},
              #{updateTime,jdbcType=TIMESTAMP},
              #{updateTime,jdbcType=TIMESTAMP}
    </insert>


    <insert id="insertSelective" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilterArgs">
        insert into gateway_route_filter_args
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    id,
                </if>
                <if test="filterId != null">
                    filterId,
                </if>
                <if test="filterArgsId != null">
                    filterArgsId,
                </if>
                <if test="argsName != null">
                    argsName,
                </if>
                <if test="argsValue != null">
                    argsValue,
                </if>
                <if test="isDelete != null">
                    isDelete,
                </if>
                <if test="createTime != null">
                    createTime,
                </if>
                <if test="updateTime != null">
                    updateTime,
                </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">
                    #{id,jdbcType=BIGINT},
                </if>
                <if test="filterId != null">
                    #{filterId,jdbcType=VARCHAR},
                </if>
                <if test="filterArgsId != null">
                    #{filterArgsId,jdbcType=VARCHAR},
                </if>
                <if test="argsName != null">
                    #{argsName,jdbcType=VARCHAR},
                </if>
                <if test="argsValue != null">
                    #{argsValue,jdbcType=VARCHAR},
                </if>
                <if test="isDelete != null">
                    #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilterArgs">

        update gateway_route_filter_args
        set
            filterId =  #{filterId,jdbcType=VARCHAR}
            filterArgsId =  #{filterArgsId,jdbcType=VARCHAR}
            argsName =  #{argsName,jdbcType=VARCHAR}
            argsValue =  #{argsValue,jdbcType=VARCHAR}
            isDelete =  #{isDelete,jdbcType=BIT}
            createTime =  #{createTime,jdbcType=TIMESTAMP}
            updateTime =  #{updateTime,jdbcType=TIMESTAMP},
        where
            id =  #{id,jdbcType=BIGINT}
    </update>



    <update id="updateByPrimaryKeySelective" parameterType="com.study.gateway.admin.entity.route.GatewayRouteFilterArgs">
        update  gateway_route_filter_args
        <set>
                <if test="filterId != null">
                    filterId = #{filterId,jdbcType=VARCHAR},
                </if>
                <if test="filterArgsId != null">
                    filterArgsId = #{filterArgsId,jdbcType=VARCHAR},
                </if>
                <if test="argsName != null">
                    argsName = #{argsName,jdbcType=VARCHAR},
                </if>
                <if test="argsValue != null">
                    argsValue = #{argsValue,jdbcType=VARCHAR},
                </if>
                <if test="isDelete != null">
                    isDelete = #{isDelete,jdbcType=BIT},
                </if>
                <if test="createTime != null">
                    createTime = #{createTime,jdbcType=TIMESTAMP},
                </if>
                <if test="updateTime != null">
                    updateTime = #{updateTime,jdbcType=TIMESTAMP},
                </if>
        </set>
        where
                id = #{id,jdbcType=BIGINT}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from gateway_route_filter_args
    where
            id =  #{id,jdbcType=BIGINT}
  </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_filter_args
        where
            id =  #{id,jdbcType=BIGINT}
    </select>


    <select id="selectList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from gateway_route_filter_args
        <where>
           <if test="id != null">
            and    id =  #{id,jdbcType=BIGINT}
           </if>
           <if test="filterId != null">
            and    filterId =  #{filterId,jdbcType=VARCHAR}
           </if>
           <if test="filterArgsId != null">
            and    filterArgsId =  #{filterArgsId,jdbcType=VARCHAR}
           </if>
           <if test="argsName != null">
            and    argsName =  #{argsName,jdbcType=VARCHAR}
           </if>
           <if test="argsValue != null">
            and    argsValue =  #{argsValue,jdbcType=VARCHAR}
           </if>
           <if test="isDelete != null">
            and    isDelete =  #{isDelete,jdbcType=BIT}
           </if>
           <if test="createTime != null">
            and    createTime =  #{createTime,jdbcType=TIMESTAMP}
           </if>
           <if test="updateTime != null">
            and    updateTime =  #{updateTime,jdbcType=TIMESTAMP}
           </if>
        </where>
    </select>


   <update id="deleteByFilterId"   parameterType="java.lang.String">
       update  gateway_route_filter_args   set  isDelete=true   where  filterId =  #{filterId,jdbcType=VARCHAR}


   </update>



</mapper>
