<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left-menu">

	<div class="nav-close">
		<i class="fa fa-times-circle"></i>
	</div>
	<a th:href="@{/index}">
		<li class="logo hidden-xs">
			<span class="logo-lg">RuoYi</span>
		</li>
	</a>
	<div class="sidebar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<!--<div class="user-panel">
					<a class="menuItem noactive" title="个人中心" th:href="@{/system/user/profile}">
						<div class="hide" th:text="个人中心"></div>
						<div class="pull-left image">
							<img th:src="(${avatar} == '') ? @{/img/profile.jpg} : @{${avatar}}" th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image">
						</div>
					</a>
					<div class="pull-left info">
						<p>[[${loginName}]]</p>
						<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
						<a th:href="@{logout}" style="padding-left:5px;"><i class="fa fa-sign-out text-danger"></i> 注销</a>
					</div>
				</div>-->
				<div class="user-panel">
					<a class="menuItem noactive" title="个人中心" th:href="@{/system/user/profile}">
						<div class="hide" th:text="个人中心"></div>
						<div class="pull-left image">
							<img th:src="(${avatar} == '') ? @{/img/profile.jpg} : @{${avatar}}" th:onerror="this.src='img/profile.jpg'" class="img-circle" alt="User Image">
						</div>
					</a>
					<div class="pull-left info">
						<p>王成林</p>
						<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
						<a th:href="@{logout}" style="padding-left:5px;"><i class="fa fa-sign-out text-danger"></i> 注销</a>
					</div>
				</div>
			</li>
			<li>
				<a class="menuItem" th:href="@{/welcome.html}"><i class="fa fa-home"></i> <span class="nav-label">首页</span> </a>
			</li>


			<!--/*<li th:each="menu : ${menus}">
				<a th:class="@{${menu.url != '' && menu.url != '#'} ? ${menu.target}}" th:href="@{${menu.url == ''} ? |#| : ${menu.url}}">
					<i class="fa fa-bar-chart-o" th:class="${menu.icon}"></i>
					<span class="nav-label" th:text="${menu.menuName}">一级菜单</span>
					<span th:class="${menu.url == '' || menu.url == '#'} ? |fa arrow|"></span>
				</a>
				<ul class="nav nav-second-level collapse">
					<li th:each="cmenu : ${menu.children}">
						<a th:if="${#lists.isEmpty(cmenu.children)}" th:class="${cmenu.target == ''} ? |menuItem| : ${cmenu.target}" th:utext="${cmenu.menuName}" th:href="@{${cmenu.url}}">二级菜单</a>
						<a th:if="${not #lists.isEmpty(cmenu.children)}" href="#">[[${cmenu.menuName}]]<span class="fa arrow"></span></a>
						<ul th:if="${not #lists.isEmpty(cmenu.children)}" class="nav nav-third-level">
							<li th:each="emenu : ${cmenu.children}">
								<a th:if="${#lists.isEmpty(emenu.children)}" th:class="${emenu.target == ''} ? |menuItem| : ${emenu.target}" th:text="${emenu.menuName}" th:href="@{${emenu.url}}">三级菜单</a>
								<a th:if="${not #lists.isEmpty(emenu.children)}" href="#">[[${emenu.menuName}]]<span class="fa arrow"></span></a>
								<ul th:if="${not #lists.isEmpty(emenu.children)}" class="nav nav-four-level">
									<li th:each="fmenu : ${emenu.children}"><a th:if="${#lists.isEmpty(fmenu.children)}" th:class="${fmenu.target == ''} ? |menuItem| : ${fmenu.target}" th:text="${fmenu.menuName}" th:href="@{${fmenu.url}}">四级菜单</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li> */-->
			<li >
				<a href="#"><i class="fa fa-desktop"></i><span class="nav-label">实例演示</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse">
					<li> <a>弹框<span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li><a class="menuItem" th:href="@{/demo/modal/dialog}">模态窗口</a></li>
							<li><a class="menuItem" th:href="@{/demo/modal/layer}">弹层组件</a></li>
							<li><a class="menuItem" th:href="@{/demo/modal/table}">弹层表格</a></li>
						</ul>
					</li>
					<li> <a>操作<span class="fa arrow"></span></a>
						<ul class="nav nav-third-level">
							<li><a class="menuItem" th:href="@{/demo/operate/table}">表格</a></li>
							<li><a class="menuItem" th:href="@{/demo/operate/other}">其他</a></li>
						</ul>
					</li>
					<li>
						<a href="#"><i class="fa fa-sitemap"></i>四层菜单<span class="fa arrow"></span></a>
						<ul class="nav nav-third-level collapse">
							<li>
								<a href="#" id="damian">三级菜单1<span class="fa arrow"></span></a>
								<ul class="nav nav-third-level">
									<li>
										<a href="#">四级菜单1</a>
									</li>
									<li>
										<a href="#">四级菜单2</a>
									</li>
								</ul>
							</li>
							<li><a href="#">三级菜单2</a></li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
</body>
</html>